* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 1rem;
    color: blue;
    text-align: center;
    background-color: lightgray;
    margin-bottom: 2rem;

    .img {
        height: 75px;
    }
}

.container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 9rem;
}

.card {
    padding: 1rem;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    border: lightgrey 2px solid;


}

.title {
    margin-bottom: 1rem;
}

.post-img {
    width: 150px;
    aspect-ratio: 1;
    margin-bottom: 1rem;
}

.tags {
    font-weight: bolder;
    padding: 0.5rem;
}

footer {
    background-color: black;
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    color: white;
}